# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node modules & build
node_modules
dist
dist-ssr

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Ne pas versionner les credentials
backend/.env
frontend/.env
